/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "PT Serif", serif;
  color: #1e272e;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.services {
  padding: 96px 0;
}

.welcome {
  background-image: url("https://images.pexels.com/photos/2873479/pexels-photo-2873479.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navigation */
.navigation {
  background: transparent;
  padding: 12px 0;
}

.list {
  padding: 0;
  list-style-type: none;
  display: inline-block;
  margin: 0 0 0 33%;
}

.list li {
  display: inline-block;
  margin: 0 36px 0 0;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Staatliches", cursive;
  font-size: 20px;
}

.navigation a:hover {
  color: #ffd32a;
}

.logo {
  text-align: left;
  font-family: "Dancing Script", cursive;
  color: #ffd32a;
  font-size: 28px;
  display: inline-block;
  margin: 0 0 0 10%;
}

/* Header */
.splash {
  background: transparent;
  color: #1e272e;
  min-height: 500px;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://images.pexels.com/photos/2873479/pexels-photo-2873479.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 40px;
  line-height: 1.2;
  color: #ffffff;
  font-style: italic;
  text-align: center;
  font-family: "PT Serif", serif;
}

.page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 96px;
  color: #ffffff;
  font-family: "Staatliches", cursive;
}

.btn {
  display: inline-block;
  min-width: 240px;
  margin: 24px 35% 0 35%;
  padding: 16px;
  border-radius: 5px;
  font-family: "Staatliches", cursive;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
  color: #ffffff;
  background-color: #ffd32a;
}

.btn:hover {
  background-position: 0 100%;
  color: #1e272e;
}

/* Container */
.section-title {
  font-size: 48px;
  margin: 0;
  text-align: center;
  font-family: "Staatliches", cursive;
}

.subtitle {
  font-size: 16px;
  font-style: italic;
  color: #a5b1c2;
  text-align: center;
  padding: 0 0 50px 0;
  font-family: "PT Serif", serif;
}

.details {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 90%;
  margin: auto;
}

.info {
  text-align: center;
  font-size: 24px;
  font-family: "Staatliches", cursive;
}

.details p {
  text-align: center;
  font-size: 14px;
  color: #a5b1c2;
  font-family: "PT Serif", serif;
}

.box {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  max-width: 30%;
  position: relative;
}

.details i {
  font-size: 30px;
  background: #ffffff;
  color: #ffd32a;
  border: solid;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 50px;
  margin: 0 40%;
}

.card {
  min-height: 200px;
  height: 400px;
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  width: 30%;
  padding: 0 15px;
}

.card-content {
  float: left;
  min-height: 200px;
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  height: 70%;
  background: #ffffff;
}

.photo {
  max-width: 100%;
  height: 250px;
}

.photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.portfolio {
  padding: 96px 0;
  background: #ecf0f1;
}

.description {
  background: #ffffff;
  padding: 15px 0 0 0;
}

.description .subtitle {
  padding: 0 0 20px 0;
  margin: auto;
}

.info {
  margin: auto;
}

.copyright {
  font-family: "PT Serif", serif;
  color: #a5b1c2;
  text-align: left;
  margin: 30px 0;
  padding-left: 70px;
  display: inline-block;
}

.links {
  margin: 20px 0 0 96px;
  display: inline-block;
}

.links li {
  display: inline-block;
}

.link {
  font-size: 0;
}

.link i {
  font-size: 20px;
  background: #1e272e;
  width: 40px;
  height: 40px;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

/* Media */
@media (max-width: 767px) {
  .details {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .list {
    margin: 0;
    font-size: 12px;
    padding: 0 0 50px 0;
  }
  .page-title {
    font-size: 26px;
  }
  .btn {
    margin: 0 20px 30px 10px;
  }
  .links {
    margin: 0 0 10px 40px;
  }
  .copyright {
    margin: 20px 0 10px 0;
    padding-left: 30px;
  }
  .card {
    max-width: 100%;
    width: 100%;
    padding: 20px;
    height: 100%;
  }
  .box {
    max-width: 100%;
    height: 100%;
    padding: 15px;
  }
}

@media (max-width: 320px) {
  .list {
    font-size: 6px;
  }
  .list li {
    margin: 0 20px 0 0;
  }
  .page-title {
    font-size: 18px;
  }
  .page-subtitle {
    font-size: 76px;
    text-align: center;
  }
  .btn {
    margin: 0 30px 30px 0;
  }
  .details i {
    margin: 20px 35%;
  }
  .links {
    margin: 0 0 15px 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn {
    margin: 24px 40% 60px 30%;
  }
  .list {
    padding: 0 0 30px 0;
    margin: 0 0 0 25%;
  }
  .page-title {
    margin: 40px 0;
    padding: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */