/* Variables */

$color-one: #ffd32a;
$color-two: #d2dae2;
$color-three: #ffffff;
$color-four: #1e272e;
$font-text:  'PT Serif', serif;
$font-header: 'Staatliches', cursive;
$font-logo: 'Dancing Script', cursive;
$transition: all 1s;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-four;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
.services {
    padding: 96px 0;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    color: $color-four;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}
.btn:hover {
    background-position: 0 100%;
    color: $color-four;
}
/* Navigation */

.navigation {
    background: $color-one;
    padding: 12px 0;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: inline-block;
            position: relative;
            margin: 0 36px 0 0;
        }
    }
}
.navigation a {
    text-decoration: none;
    color: $color-four;
}
.navigation a:hover {
    color: $color-two;
}
.navigation ul ul li {
    display: block;
    margin: 0 0 12px 0;
}
.navigation ul ul {
    display: none;
    position: absolute;
    background: $color-four;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 0;
}
.navigation li:hover ul {
    display: block;
    text-align: center;
}
.navigation ul ul a {
    color: $color-one;
    display: block;
    padding: 0 24px;
}
.navigation ul ul a:hover {
    color: $color-two;
}

/* Header */
.splash {
    background: $color-one;
    color: $color-four;
    min-height: 500px;
    display: flex;
}
.splash-inner {
    margin: auto;
    max-width: 70%;
}
.page-title {
    margin: 0;
    font-size: 72px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
}
.page-subtitle {
    margin: 24px 0;
    font-weight: 400;
    font-size: 16px;
}
.page-title span {
    font-family: $font-header;
}
