/* Variables */

$color-one: #ffd32a;
$color-two: #ecf0f1;
$color-three: #ffffff;
$color-four: #1e272e;
$color-five: #a5b1c2;
$font-text:  'PT Serif', serif;
$font-header: 'Staatliches', cursive;
$font-logo: 'Dancing Script', cursive;
$transition: all 1s;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-four;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
.services {
    padding: 96px 0;
}
.welcome {
    background-image: url('https://images.pexels.com/photos/2873479/pexels-photo-2873479.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Navigation */

.navigation {
    background: transparent;
    padding: 12px 0;
}
.list  {
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin: 0 0 0 33%;
    li {
        display: inline-block;
        margin: 0 36px 0 0;
    }
}
.navigation a {
    text-decoration: none;
    color: $color-three;
    font-family: $font-header;
    font-size: 20px;
}
.navigation a:hover {
    color: $color-one;
}
.logo {
    text-align: left;
    font-family: $font-logo;
    color: $color-one;
    font-size: 28px;
    display: inline-block;
    margin: 0 0 0 10%;
}

/* Header */
.splash {
    background: transparent;
    color: $color-four;
    min-height: 500px;
    display: flex;
    background-image: url('https://images.pexels.com/photos/2873479/pexels-photo-2873479.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.splash-inner {
    margin: auto;
    max-width: 70%;
}
.page-title {
    margin: 0;
    font-size: 40px;
    line-height: 1.2;
    color: $color-three;
    font-style: italic;
    text-align: center;
    font-family: $font-text;
}
.page-subtitle {
    margin: 24px 0;
    font-weight: 400;
    font-size: 96px;
    color: $color-three;
    font-family: $font-header;
}
.btn {
    display: inline-block;
    min-width: 240px;
    margin: 24px 35% 0 35%;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-header;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    color: $color-three;
    background-color: $color-one;
}
.btn:hover {
    background-position: 0 100%;
    color: $color-four;
}
/* Container */

.section-title {
    font-size: 48px;
    margin: 0;
    text-align: center;
    font-family: $font-header;
}
.subtitle {
    font-size: 16px;
    font-style: italic;
    color: $color-five;
    text-align: center;
    padding: 0 0 50px 0;
    font-family: $font-text;
}
.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    
}
.info {
    text-align: center;
    font-size: 24px;
    font-family: $font-header;
}
.details p {
    text-align: center;
    font-size: 14px;
    color: $color-five;
    font-family: $font-text;
}
.box {
    flex: 0 0 33.333%;
    max-width: 30%;
    position: relative;
}
.details i {
    font-size: 30px;
    background: $color-three;
    color: $color-one;
    border: solid;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 50px;
    margin: 0 40%;
}
.card {
    min-height: 200px;
    height: 400px;
    flex: 0 0 33.333%;  
    width: 30%;
    padding: 0 15px;
}
.card-content {
    float: left;
    min-height: 200px;
    flex: 0 0 33.333%;
    height: 70%;
    background: $color-three;
}
.photo {
    max-width: 100%;
    height: 250px;
    img {
        object-fit: cover;
        width: 100%;
    }
}
.portfolio {
    padding: 96px 0;
    background: $color-two;
}
.description {
    background: $color-three;
    padding: 15px 0 0 0;
    .subtitle {
        padding: 0 0 20px 0;
        margin: auto;
    }
}
.info {
    margin: auto;
}
.copyright {  
    font-family: $font-text;
    color: $color-five;
    text-align: left;
    margin: 30px 0;
    padding-left: 70px;
    display: inline-block;
}
.links {  
    margin: 20px 0 0 96px;
    display: inline-block;
    li {
        display: inline-block;
    }
}
.link {
    font-size: 0;
    i {
        font-size: 20px;
        background: $color-four;
        width: 40px;
        height: 40px;
        color: $color-three;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
    }
}
/* Media */

@media (max-width: 767px) {

    .details {
        flex-direction: column;
    }
    .list {
        margin: 0;
        font-size: 12px;
        padding: 0 0 50px 0;
    }
    .page-title {
        font-size: 26px;
    }
    .btn {
        margin: 0 20px 30px 10px;
    }
    .links {
        margin: 0 0 10px 40px;
    }
    .copyright {
        margin: 20px 0 10px 0;
        padding-left: 30px;
    }
    .card {
        max-width: 100%;
        width: 100%;
        padding: 20px;
        height: 100%;
    }
    .box {
        max-width: 100%;
        height: 100%;
        padding: 15px
    }
}
@media (max-width: 320px) {
    .list {
        font-size: 6px;
    }
    .list li {
        margin: 0 20px 0 0;
    }
    .page-title {
        font-size: 18px;
    }
    .page-subtitle {
        font-size: 76px;
        text-align: center;
    }
    .btn {
        margin: 0 30px 30px 0;
    }
    .details i {
        margin: 20px 35%;
    }
    .links {
        margin: 0 0 15px 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .btn {
        margin: 24px 40% 60px 30%;
    }
    .list {
        padding: 0 0 30px 0;
        margin: 0 0 0 25%;
    }
    .page-title {
        margin: 40px 0;
        padding: 20px 0;
    }
}